.services1 {
	margin: 40px 0;
}

.service1 {
	width: 300px;
	height: 400px;
	margin: 80px 0;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius: 50px;
}

.service1 .icon-holder1 {
	position: relative;
	top: 80px;
	display: inline-block;
	margin-bottom: 40px;
	padding: 10px;
	background: white;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service1 .heading1 {
	position: relative;
	top: 10px;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service1 .icon-holder1 > img.icon {
	position: relative;
	bottom: 50px;
	width: 200px;
	height: 200px;
	border-radius: 150px;

}

.service1:hover {
	border-color: #00a8ff;
}

.service1:hover .icon-holder1 {
	top: -10px;
}

.service1:hover .heading1 {
	top: -110px;
}

.service1 .description1 {
	position: relative;
	bottom: 90px;
	width: 80%;
	margin: 0 auto;
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.service1:hover .description1 {
	position: relative;
	bottom: 90px;
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.dishtable {
	margin-top: 10px;
}
.dishheader {
	margin-top: 80px;
}
.totalSum {
	text-align:right;
}
.myorder {
	text-align: left;
}